<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 70%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

</head>

<body>
    <form action="/uploadfile" enctype="multipart/form-data" method="POST">
        <input type="file" name="myFile" accept="image/*" />
        <input type="submit" value="Upload a file" />
    </form>

</body>

</html>