<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

    </style>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
    <input type="file" id="myFile" accept="image/*">Load image</input>
    <img id="myImage" style="border:1px" />

    <div class="image-container">
        <canvas id="Canvas" class="image"></canvas>
    </div>

    <script src="uploadImage.js"></script>
</body>

</html>